<h1>VIDEOS PAGE</h1>

<!-- *Begin Video Selector -->
    <div class="grid-container">

     <div class="grid-x grid-padding-x">
         <div class="large-12 cell">
           <h1>Videos</h1>
         </div>
     </div>


 <div class="grid-x grid-padding-x">
  <div class="large-12 cell">
   <div class="callout">


 <section class="filter-simple">
   <div class="button-group round">
     <button class="button hollow filter-simple-button is-active" data-filter="all">All</button>
     <button class="button hollow filter-simple-button" data-filter="space">Space</button>
     <button class="button hollow filter-simple-button" data-filter="dan-workshop">Dan's Workshops</button>
     <button class="button hollow filter-simple-button" data-filter="dan-angularjs">Dan/AngularJS</button>
     <button class="button hollow filter-simple-button" data-filter="ET-710">ET-710</button>
     <button class="button hollow filter-simple-button" data-filter="ET-718">ET-718</button>
   </div>






     <div class="grid-x grid-padding-x">
       <!-- ET-710 Video-->
        <div class="large-3 medium-6 small-12 cell filter-simple-item ET-710">
         <div class="card" style="width: 235px;">
         <div class="card-divider">
             <strong>DataTables</strong>
           </div>
             <div class="responsive-embed">
               <video width="400" controls poster = "https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb">
                 <source src="https://d3u4fnct1vpepk.cloudfront.net/website/media/et710-20171106.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
               </video>
             </div>
           <div class="card-section">
             <h4>ET-710</h4>
             <p>Adding DataTables</p>
           </div>
       </div>
      </div>


      <!-- ET-710 Speed Drill Video-->
        <div class="large-3 medium-6 small-12 cell filter-simple-item ET-710">
         <div class="card" style="width: 235px;">
         <div class="card-divider">
             <strong>Speed Drill</strong>
           </div>
             <div class="responsive-embed">
               <video width="400" controls poster = "https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb">
                 <source src="https://d3u4fnct1vpepk.cloudfront.net/website/media/et710-20171018.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
               </video>
             </div>
           <div class="card-section">
             <h4>ET-710</h4>
             <p>Mid-Term Practical Scope</p>
           </div>
       </div>
      </div>


             <!-- ET-710 S2019 Midterm Practice Video-->
        <div class="large-3 medium-6 small-12 cell filter-simple-item ET-710">
         <div class="card" style="width: 235px;">
         <div class="card-divider">
             <strong>Midterm Practice</strong>
           </div>
             <div class="responsive-embed">
               <video width="400" controls poster = "https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb">
                 <source src="https://d3u4fnct1vpepk.cloudfront.net/website/media/710-midterm-s2019/710-midterm-s2019.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
               </video>
             </div>
           <div class="card-section">
             <h4>ET-710</h4>
             <p>Mid-Term Practical Scope</p>
           </div>
       </div>
      </div>








      <!-- ET-710 GitHub Intro Video-->
        <div class="large-3 medium-6 small-12 cell filter-simple-item ET-710">
         <div class="card" style="width: 235px;">
         <div class="card-divider">
             <strong>GitHub</strong>
           </div>
             <div class="responsive-embed">
               <video width="400" controls poster = "https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb">
                 <source src="https://d3u4fnct1vpepk.cloudfront.net/website/media/et710-25.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
               </video>
             </div>
           <div class="card-section">
             <h4>ET-710</h4>
             <p>Introduction to GitHub</p>
           </div>
       </div>
      </div>






       <!-- ET-710 API Video-->
        <div class="large-3 medium-6 small-12 cell filter-simple-item ET-710">
         <div class="card" style="width: 235px;">
         <div class="card-divider">
             <strong>APIs</strong>
           </div>
             <div class="responsive-embed">
               <video width="400" controls poster = "https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb">
                 <source src="https://d3u4fnct1vpepk.cloudfront.net/website/media/et710-3-20171109-api-cam.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
               </video>
             </div>
           <div class="card-section">
             <h4>ET-710</h4>
             <p>Adding Twitter/MTA APIs</p>
           </div>
       </div>
      </div>


      <!-- ET-718 Blog Exercise-->
        <div class="large-3 medium-6 small-12 cell filter-simple-item ET-718">
         <div class="card" style="width: 235px;">
         <div class="card-divider">
             <strong>Blog Exercise (Video1)</strong>
           </div>
             <div class="responsive-embed">
               <video width="400" controls poster = "https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb">
                 <source src="https://d3u4fnct1vpepk.cloudfront.net/website/media/midterm718/midterm718.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
               </video>
             </div>
           <div class="card-section">
             <h4>ET-718</h4>
             <p>Cloud 9</p>
           </div>
       </div>
      </div>


    <!-- ET-718 Blog Exercise 2-->
        <div class="large-3 medium-6 small-12 cell filter-simple-item ET-718">
         <div class="card" style="width: 235px;">
         <div class="card-divider">
             <strong>Blog Exercise (Video 2)</strong>
           </div>
             <div class="responsive-embed">
               <video width="400" controls poster = "https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb">
                 <source src="https://d3u4fnct1vpepk.cloudfront.net/website/media/718midterm20170312/718midterm.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
               </video>
             </div>
           <div class="card-section">
             <h4>ET-718</h4>
             <p>Cloud 9</p>
           </div>
       </div>
      </div>


     <!-- Conference-->
        <div class="large-3 medium-6 small-12 cell filter-simple-item space">
         <div class="card" style="width: 235px;">
         <div class="card-divider">
             <strong>Conference</strong>
           </div>
             <div class="responsive-embed">
               <video width="400" controls poster = "https://d3u4fnct1vpepk.cloudfront.net/website/media/ecab17_tn.jpeg?h=350&auto=compress&cs=tinysrgb">
                 <source src="https://d3u4fnct1vpepk.cloudfront.net/website/media/ecab-2017.mp4" type="video/mp4">
                 Your browser does not support HTML5 video.
               </video>
             </div>
           <div class="card-section">
             <h4>AMC</h4>
             <p>Additive Manufacturing</p>
           </div>
       </div>
      </div>

      <!-- Dan Web Development Workshop 1-->
         <div class="large-3 medium-6 small-12 cell filter-simple-item dan-workshop">
          <div class="card" style="width: 235px;">
          <div class="card-divider">
              <strong>Dan Wahlin</strong>
            </div>
              <div class="responsive-embed">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/1STRnoJx3rI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            <div class="card-section">
              <h4>Workshop 1</h4>
              <p>So You Want To Be A Web Developer?</p>
            </div>
        </div>
       </div>


       <!-- Dan Web Development Workshop 2-->
          <div class="large-3 medium-6 small-12 cell filter-simple-item dan-workshop">
           <div class="card" style="width: 235px;">
           <div class="card-divider">
               <strong>Dan Wahlin</strong>
             </div>
               <div class="responsive-embed">
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/EDnEQJSHLoM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>
             <div class="card-section">
               <h4>Workshop 2</h4>
               <p>So You Want To Be A Web Developer?</p>
             </div>
         </div>
        </div>


        <!-- Dan Web Development Workshop 3-->
           <div class="large-3 medium-6 small-12 cell filter-simple-item dan-workshop">
            <div class="card" style="width: 235px;">
            <div class="card-divider">
                <strong>Dan Wahlin</strong>
              </div>
                <div class="responsive-embed">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/5EEZYFBpdZM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              <div class="card-section">
                <h4>Workshop 3</h4>
                <p>So You Want To Be A Web Developer?</p>
              </div>
          </div>
         </div>

         <!-- Dan Web Development Workshop 4-->
            <div class="large-3 medium-6 small-12 cell filter-simple-item dan-workshop">
             <div class="card" style="width: 235px;">
             <div class="card-divider">
                 <strong>Dan Wahlin</strong>
               </div>
                 <div class="responsive-embed">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/H2Msu2ZS8A4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                 </div>
               <div class="card-section">
                 <h4>Workshop 4</h4>
                 <p>So You Want To Be A Web Developer?</p>
               </div>
           </div>
          </div>


          <!-- Dan Web Development Workshop 5-->
             <div class="large-3 medium-6 small-12 cell filter-simple-item dan-workshop">
              <div class="card" style="width: 235px;">
              <div class="card-divider">
                  <strong>Dan Wahlin</strong>
                </div>
                  <div class="responsive-embed">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/C3oM6dB5RJU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                <div class="card-section">
                  <h4>Workshop 5</h4>
                  <p>So You Want To Be A Web Developer?</p>
                </div>
            </div>
           </div>


           <!-- Dan AngularJS 60ish Minutes-->
              <div class="large-3 medium-6 small-12 cell filter-simple-item dan-angularjs">
               <div class="card" style="width: 235px;">
               <div class="card-divider">
                   <strong>Dan Wahlin</strong>
                 </div>
                   <div class="responsive-embed">
                     <iframe width="560" height="315" src="https://www.youtube.com/embed/i9MHigUZKEM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                   </div>
                 <div class="card-section">
                   <h4>AngularJS</h4>
                   <p>Fundamentals In 60-ish Minutes</p>
                 </div>
             </div>
            </div>


            <!-- Dan AngularJS 20ish Minutes-->
               <div class="large-3 medium-6 small-12 cell filter-simple-item dan-angularjs">
                <div class="card" style="width: 235px;">
                <div class="card-divider">
                    <strong>Dan Wahlin</strong>
                  </div>
                    <div class="responsive-embed">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/tnXO-i7944M?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                  <div class="card-section">
                    <h4>AngularJS</h4>
                    <p>Fundamentals In 20-ish Minutes</p>
                  </div>
              </div>
             </div>

             <!-- Iron Man-->
                <div class="large-3 medium-6 small-12 cell filter-simple-item space">
                 <div class="card" style="width: 235px;">
                 <div class="card-divider">
                     <strong>Iron Man - The Movie</strong>
                   </div>
                     <div class="responsive-embed">
                       <video width="400" controls poster = "https://m.media-amazon.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SY1000_CR0,0,674,1000_AL_.jpg">
                         <source src="https://mdlvideo.s3.amazonaws.com/FavoriteMovies/adventure/im/IronMan.m4v">
                         Your browser does not support HTML5 video.
                       </video>
                     </div>
                   <div class="card-section">
                     <h4>Iron Man 1</h4>
                     <p>Marvel Comics</p>
                   </div>
               </div>
              </div>


    </div>

 </div>
</div>
</div>
</div>



 <!-- *End Video Selector -->
